body	{
				font-family: Helvetica;
				text-align: center;
				margin: 0;																/* This is to remove 8px margin Chrome adds */
				color: #000080;
				letter-spacing: 2px;
}

section {
				min-height: 90vh;													/* 90% of view height */
}

.flex {
				display: flex;														/* default is display: block */
}

.center {
				justify-content: space-around;						/* justify left=flex-start; right=flex-end */
				align-items: center;											/* align top=flex-start; bottom=flex-end */
}

.hero {
				background-image: url(./images/splash.jpg);
				background-size: cover;
				background-position: center;
}

.title {
				font-size: 50px;
				font-weight: 100;
}